# Configurações do Banco de Dados
DB_URL=jdbc:postgresql://localhost:5434/appfinance
DB_USERNAME=postgres
DB_PASSWORD=sua_senha_aqui

# Configuração do Servidor
SERVER_PORT=8081

# Configurações de Segurança (JWT)
# Gere uma string base64 longa (ex: 256 bits) para ser o secret e coloque aqui
JWT_SECRET=sua_chave_secreta_super_segura_aqui_404E635266556A586E3272357538782F
JWT_EXPIRATION=86400000
