# Configurações do Banco de Dados
DB_URL=jdbc:postgresql://localhost:5432/my_database
DB_USERNAME=danssaugustus
DB_PASSWORD=postgres

# Configuração do Servidor
SERVER_PORT=8081

# Configurações de Segurança (JWT)
# Gere uma string base64 longa (ex: 256 bits) para ser o secret e coloque aqui
JWT_SECRET=hxv+aIs1n60uM+5EaHKa/KhftcQMjEiPdLS+crtTEpjqmxOULbEEIfAgFP3Oz8XjKii6wOpNJuph/qcFrycdyA==
JWT_EXPIRATION=86400000
