# Configurações do Banco de Dados
DB_URL=jdbc:postgresql://localhost:5432/my_database
DB_USERNAME=my_user_postgres
DB_PASSWORD=my_password_postgres

# Configuração do Servidor
SERVER_PORT=8081

# Configurações de Segurança (JWT)
# Gere uma string base64 longa (ex: 256 bits) para ser o secret e coloque aqui
JWT_SECRET=my_secret_key_random_valid
JWT_EXPIRATION=86400000
